# Lab 1: Data Manipulation

## <u>Table of contents</u>

### 1. Manipulation
1. Data Structure and Input/Output Data <br>
2. Getting Data and Modifying Data <br>
3. Summary statistics and aggregating data <br>
4. Merge and Append Data

### 2. Cleaning
1. Outlier <br>
2. Incorrect data type<br>
3. Missing data<br>
4. Duplicates<br>
5. Inaccurate data/ Invalid category<br>
6. Data Binning<br>
7. Data encoding

<b>Cheat sheet</b> <br>
pandas: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

## 1. Data Structure and Input/Output Data

First, `import` is used to import modules in Python. <br>
Python has many modules related to data manipulation. The most common modules are `numpy` and `pandas`.

In [ ]:
# To import modules, use these codes
import numpy as np
import pandas as pd

We can create our own DataFrame by using `<pandas>.DataFrame(<dictionary>)` or `<pandas>.DataFrame(<array>)`<br><br>
Doc. df.: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
created_data = pd.DataFrame({
        "a" : [1, 2, 3],
        "b": [4, 5, 6],
        "c": [7, 8, 9]
    })
display(created_data)

In [ ]:
display(
    pd.DataFrame([
        [1, 2, 3], 
        [4, 5, 6],
        [7, 8, 9]
    ])
)

We can also create sub column name.

In [ ]:
pd.DataFrame({
        (1, "a") : [1, 2, 3],
        (1, "b"): [4, 5, 6],
        (2, "a"): [1, 2, 3],
        (2, "b"): [4, 5, 6]
    }, index=["a", "b", "c"]
)

Sometimes, if we want to see preliminary data, we may use following methods.<br>
`DataFrame.head()` is used for returning the first n rows. (default is 5 rows) <br>
`DataFrame.tail()` is used for returning the last n rows. (default is 5 rows) <br>
`DataFrame.sample()` is used for returning a random sample of items from an axis of object. (default is 5 rows) <br>
`DataFrame.describe()` is used for generating descriptive statistics.<br>
`DataFrame.info()` is used for printing a concise summary of a DataFrame.<br>
`DataFrame.shape`is used for returning a tuple representing the dimensionality of the DataFrame.<br><br>
Doc. df.head: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html <br>
Doc. df.tail: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html <br>
Doc. df.sample: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html <br>
Doc df.describe: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html <br>
Doc df.info: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html <br>
Doc df Attributes: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
created_data.head(2)

In [ ]:
created_data.shape

The Dataset which we use in this session is a Titanic dataset. <br><br>
Ref: https://www.kaggle.com/competitions/titanic/data?select=train.csv

<b>Metadata</b>

<table>
    <tbody>
        <tr>
            <th><b>Variable</b></th>
            <th><b>Definition</b></th>
            <th><b>Remark</b></th>
        </tr>
        <tr>
            <td>survival</td>
            <td>Survival</td>
            <td>0 = No, 1 = Yes</td>
        </tr>
        <tr>
            <td>pclass</td>
            <td>Ticket class</td>
            <td>1 = 1st, 2 = 2nd, 3 = 3rd</td>
        </tr>
        <tr>
            <td>sex</td>
            <td>Sex</td>
            <td></td>
        </tr>
        <tr>
            <td>Age</td>
            <td>Age in years</td>
            <td></td>
        </tr>
        <tr>
            <td>sibsp</td>
            <td># of siblings / spouses aboard the Titanic</td>
            <td></td>
        </tr>
        <tr>
            <td>parch</td>
            <td># of parents / children aboard the Titanic</td>
            <td></td>
        </tr>
        <tr>
            <td>ticket</td>
            <td>Ticket number</td>
            <td></td>
        </tr>
        <tr>
            <td>fare</td>
            <td>Passenger fare</td>
            <td></td>
        </tr>
        <tr>
            <td>embarked</td>
            <td>Port of Embarkation</td>
            <td>C = Cherbourg, Q = Queenstown, S = Southampton</td>
        </tr>
    </tbody>
</table>

We can use `<pandas>.read_csv("path_to_file")` to read csv file or other delimiters. <br><br>
Doc. pd.read_csv: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

### Absolute and Relative Pathnames

`Absolute pathname` is specifying the location of a file or directory from the root directory. <br>
`Relative pathname` is path related to the present working directory. Relative pathname uses one of these cryptic symbols.
- . (a single dot) - this represents the current directory.
- .. (two dots) - this represents the parent directory.
- ../.. (two dots, slash, two dots) - this represents the parent of parent directory.

<u>P.S.</u> `Relative pathname` is recommended. <br><br>
Ref: https://www.geeksforgeeks.org/absolute-relative-pathnames-unix/

In [ ]:
# Example of Absolute pathname
loaded_data1 = pd.read_csv("C:/Users/[username_computer]/Desktop/lab_manipulation/data/1_Titanic_dataset_csv.csv")
data1

In [ ]:
# Example of Relative pathname
loaded_data2 = pd.read_csv("./data/1_Titanic_dataset_csv.csv")
loaded_data2

We can use only the file's name if the data's file directory is the same as the notebook's file directory.

In [ ]:
data_something1 = pd.read_csv("1_Temp.csv")
data_something1

If we have a csv file download link, we can import from it.

In [ ]:
drive_url = "https://drive.google.com/file/d/1S92f1jwtUefFgp5js39cqURR-_HijNe6/view?usp=sharing"
download_url = 'https://drive.google.com/uc?export=download&id='+drive_url.split('/')[-2]
download_url

In [ ]:
data_something2 = pd.read_csv(download_url)
data_something2

If we want to save DataFrame as a csv file, we can use `<DataFrame>.to_csv("path_to_file")`. <br><br>
Doc. df.to_csv: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
loaded_data1.to_csv("./data/1_to_csv_save_file.csv", index=False)

Sometimes, we might encounter an excel file. <br>
In that case, we must use `<pandas>.read_excel("path_to_file")` instead. <br><br>
Doc. pd.read_excel: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

### <u>Exercise 1</u>

### <u>Exercise 1-1</u>

Import `1_Titanic_dataset_excel_1` file to this notebook and display the <b>first</b> 5 rows.
- The file is available in the same file as the notebook.
- Make `PassengerId` the DataFrame's index column name by using `index_col` parameter.

<b>DataFrame Desired</b>
<img src="./images/exercise1-1.png" alt="exercise1-1" width="900"/>

In [ ]:
# The code for Exercise 1-1 is here

### <u>Exercise 1-2</u>

Import `Titanic_sheet` (located in the `1_Titanic_dataset_excel_2` file) to this notebook. <br>
- The file is available in the data's folder. You have to use <b>relative path</b> as the parameter. 
- Make `PassengerId` the DataFrame's index column name by using `index_col` parameter.

<u>P.S.</u> The documents provided above should help you.

In [ ]:
# The code Exercise 1-2 is here

---

## 2. Getting Data and Modifying Data

In [ ]:
# To import modules, use these codes
import numpy as np
import pandas as pd

This is the demo data which we will be using in this session.

In [ ]:
main_data = pd.DataFrame({
    "index": [0,1,2,3,4,5,6,7,8],
    "catergorical_str": ["small","mediem","high","small","mediem","high","small","mediem","high"],
    "catergorical_int": [2,3,2,1,3,2,2,3,1],
    "increase_1": [1,2,3,4,5,6,7,8,9],
    "increase_2": [2,4,6,8,10,12,14,16,18],
    "boolean": [True, True, False, False, True, True, False, False, True],
    "datetime": ["20-01-2022", "21-01-2022", "22-01-2022", "23-01-2022", "24-01-2022", "25-01-2022", "26-01-2022", "27-01-2022", "28-01-2022"]
}, index=[101, 102, 103, 104, 105, 106, 107, 108, 109])
data["datetime"] = pd.to_datetime(main_data["datetime"], format="%d-%m-%Y")

In [ ]:
data = main_data.copy()
data

`[] square brackets` is the fastest way to select desired columns. It will return `<pandas>.Series`<br>.
Also, `[[]] square brackets` could also be used, but it will return `<pandas>.DataFrame`instead.

In [ ]:
# Select a single column
data["catergorical_str"] # Return Series
# data[["catergorical_str"]] # Return DataFrame

In [ ]:
# Select multiple columns
data[["increase_1", "increase_2"]] # Return DataFrame

There are 2 important attributes which is used to access rows and columns in groups.
- `<DataFrame>.loc[(row name), (column name)]` is used for accessing by label. <br>
- `<DataFrame>.iloc[(row number), (column number)]` is used for accessing by number.<br>

<u>P.S.</u>  : (colon) means "select every element".

In [ ]:
# Preview data
data.head()

In [ ]:
# Single selection 
data.loc[101] # Return Series rows
# data.loc[:, "catergorical_int"] # Return Series columns

# data.iloc[0] # Return Series rows
# data.iloc[:, 2] # Return Series columns

In [ ]:
# Multiple selection using lists
data.loc[[101, 102]] # Return DataFrame rows
# data.loc[:, ["catergorical_str", "catergorical_int"]] # Return DataFrame columns

# data.iloc[[0, 1]] # Return DataFrame rows
# data.iloc[:, [1, 2]] # Return DataFrame columns

In [ ]:
# Multiple selection using slicing 
data.loc[101:105] # Return DataFrame rows (for loc include:include)
# data.loc[:, :"increase_2"] # Return DataFrame columns

# data.iloc[0:5] # Return DataFrame row (for iloc include:exclude)
# data.iloc[:, :5] # Return DataFrame columns

We can select by using datetime slicing if set datetime to index DataFrame.

In [ ]:
# Preview data
data.head()

In [ ]:
data_datetime = data.set_index("datetime")
data_datetime.head()

In [ ]:
data_datetime.loc["2022-01-20":"2022-01-24"] # Return DataFrame row (for iloc include:include)

In [ ]:
# Multiple selection using conditions
data.loc[data.index<105, :] # Return DataFrame row 
# data.loc[data["datetime"]<"2022-01-24", :] # Return DataFrame row

We can also add DataFrame columns, change element values, and remove rows or columns. <br>
(use `<DataFrame>.insert()` to insert a column to a specific location, and use `<DataFrame>.drop()` to remove one)<br><br>
Doc. df.drop: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [ ]:
# Preview data
data.head()

In [ ]:
# Add column
data["summation"] = data["increase_2"] + data["increase_1"]
# data.insert(5, "difference", data["increase_2"] - data["increase_1"])
data.head()

In [ ]:
# Drop row and column
data = data.drop(108, axis=0, errors="ignore") # remove row
# data = data.drop("boolean", axis=1, errors="ignore") # remove column // do not forget to save return a copy
data.head()

In [ ]:
# Change element values
data.iloc[0,-1] = "Hello world"
data.head()

We can filter data by using logical operators and compare operators. <br>
<b> logical operators:
- `>`, `<`, `>=`, `<=`, `==`, `!=`, `~(not)`

<b> compare operators:
- `&(and)`, `|(or)`, `^(xor)`

In [ ]:
# Preview data
data = main_data.copy()
data

In [ ]:
data.loc[[True, False, True, False, False, False, False, False, False]]

In [ ]:
condition1 = data["increase_1"] >= 5
condition2 = data["catergorical_int"] == 2

In [ ]:
condition1

In [ ]:
data.loc[condition1]

In [ ]:
combine_condition = (condition1) & (condition2)
combine_condition

In [ ]:
data.loc[combine_condition]

We can detect each element in the DataFrame is contained in values by using `<DataFrame>.isin()`

In [ ]:
# Preview data
data = main_data.copy()
data

In [ ]:
data["catergorical_str"].isin(["mediem", "high"])

In [ ]:
data[data["catergorical_str"].isin(["mediem", "high"])]

### <u>Exercise 2</u>

The dataset which we use in this exercise is a supermarket sales dataset. <br><br>
Ref: https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales

Import `2_Supermarket_data` file and run codings to solve the following question.
1. Calculate the tax for each unit price. (Assuming all items have 7% tax)
2. Calculate the total price for each product. (Tax included)
3. Which store branch has the most total sales? (You can use `<DataFrame>.sum()` to sum in each column, if is possible.)

In [ ]:
# The code for Exercise 2.1 is here

In [ ]:
# The code for Exercise 2.2 is here

In [ ]:
# The code for Exercise 2.3 is here

---

## 3. Summary statistics and aggregating data

In [ ]:
# To import modules, use these codes
import numpy as np
import pandas as pd

This is a demo data from the previous session.

In [ ]:
main_data = pd.DataFrame({
    "index": [0,1,2,3,4,5,6,7,8],
    "catergorical_str": ["small","mediem","high","small","mediem","high","small","mediem","high"],
    "catergorical_int": [2,3,2,1,3,2,2,3,1],
    "increase_1": [1,2,3,4,5,6,7,8,9],
    "increase_2": [2,4,6,8,10,12,14,16,18],
    "boolean": [True, True, False, False, True, True, False, False, True],
    "datetime": ["20-01-2022", "21-01-2022", "22-01-2022", "23-01-2022", "24-01-2022", "25-01-2022", "26-01-2022", "27-01-2022", "28-01-2022"]
}, index=[101, 102, 103, 104, 105, 106, 107, 108, 109])
data["datetime"] = pd.to_datetime(main_data["datetime"], format="%d-%m-%Y")

In [ ]:
data = main_data.copy()

There are many ways to calculate statistical data. We will use the following methods. <br>
- `<DataFrame>.min()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html
- `<DataFrame>.max()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html
- `<DataFrame>.mean()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
- `<DataFrame>.median()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html
- `<DataFrame>.mode()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html
- `<DataFrame>.var()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.var.html
- `<DataFrame>.std()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html
- `<DataFrame>.sum()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html
- `<DataFrame>.quantile()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.quantile.html
- `<DataFrame>.count()` https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html

In [ ]:
data[["increase_1", "increase_2"]].sum()

Apply a function along an axis of the DataFrame by using `<DataFrame>.apply()`

In [ ]:
data[["increase_1", "increase_2"]].apply(np.sqrt)

We can also return a Series containing the counts of unique values by using `<Series>.value_counts()`. <br><br>
Doc. s.value_counts: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

In [ ]:
count = data["catergorical_int"].value_counts()
count

Sort object by labels by using `<DataFrame>.sort_index()`<br>
and, Sort by values along either axis by using `<DataFrame>.sort_values()`<br><br>
Doc. df.sort_index: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html <br>
Doc. df.sort_values: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
count = count.sort_index()
# count = count.sort_values() #A default is ascending
count

We group DataFrame using a mapper, or by a Series of columns using `<DataFrame>.groupby()`,<br>
and aggregate using one or more operations over the specified axis by using `<groupby>.agg()`.

In [ ]:
# Select interesting data
selected_data = data[["catergorical_str","catergorical_int"]]

In [ ]:
# GroupBy method return pandas DataFrameGroupBy object
groupby_object = selected_data.groupby(["catergorical_str"])
groupby_object

In [ ]:
groupby_object.mean()

In [ ]:
# Apply statistical data in every DataFrame column by using List.
groupby_object.agg([max, min])

In [ ]:
# Apply statistical data in a selected DataFrame column by using Dict.
data.groupby(["catergorical_str"]).agg({
    "increase_2": np.median, 
    "catergorical_int": [np.min, np.max],
    "increase_1": lambda x: x.quantile(0.75)-x.quantile(0.25)
})

In [ ]:
# Apply statistical data in a selected DataFrame column by using Tuple
data.groupby(["catergorical_str"]).agg(
    mean_increase_2 = ("increase_2", np.max),
    min_increase_1 = ("increase_1", np.min)
)

### <u>Exercise 3</u>

Import `1_Titanic_dataset_csv` file and do the codings to solve following question. <br>
- What is the average, max, and min values of `Fare` for each `Sex`?
- How many unique values of each `Pclass` are there? (sort by index labels)

In [ ]:
# The code for Exercise 3.1 is here

In [ ]:
# The code for Exercise 3.2 is here

---

## 4. Merge and Append Data

In [ ]:
# To import modules, use these codes
import numpy as np
import pandas as pd

This is the demo data which we will be using in this session.

In [ ]:
left_data = pd.DataFrame({
    "column_A": ["A0","A1","A2","A3","A4"],
    "column_B": ["B0","B1","B2","B3","B4"],
    "column_C": ["C0","C1","C2","C3","C4"],
})
left_data

In [ ]:
right_data = pd.DataFrame({
    "column_A": ["A1","A2","A5","A6"],
    "column_B": ["B1","B2","B5","B6"],
    "column_D": ["D1","D2","D5","D6"],
    "column_E": ["E1","E2","E5","E6"],
}, index=[1,2,5,6])
right_data

We can concatenate pandas objects along a particular axis with optional set logic along the other axes by using `<pandas>.concat()` <br><br>
Doc. pd.concat: https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [ ]:
# Outer join
pd.concat([left_data, right_data]) #Defaults are outer join, and index join
# pd.concat([left_data, right_data], axis=1) #Column join

In [ ]:
# Inner join
pd.concat([left_data, right_data], join="inner") #Index join
# pd.concat([left_data, right_data], axis=1, join="inner") #Column join

Merge DataFrame or named Series objects with a database-style join by using `<pandas>.merge()`. <br>
and with Join columns of another DataFrame by using `DataFrame.join()`.<br><br>
Doc. pd.merge: https://pandas.pydata.org/docs/reference/api/pandas.merge.html <br>
Doc. pd.join: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [ ]:
# Set column names to join on to index column for DataFrame join method
right_ab_index = right_data.set_index(["column_A", "column_B"])
right_ab_index

In [ ]:
# Inner join
pd.merge(left_data, right_data) #A default is inner
# left_data.join(right_ab_index, how="inner", on=['column_A', "column_B"])

In [ ]:
# Left join
pd.merge(left_data, right_data, how="left")
# left_data.join(right_ab_index, how="left", on=['column_A', "column_B"])

In [ ]:
# Right join
pd.merge(left_data, right_data, how="right")
# left_data.join(right_ab_index, how="right", on=['column_A', "column_B"])

In [ ]:
# Outer join
pd.merge(left_data, right_data, how="outer")
# left_data.join(right_ab_index, how="outer", on=['column_A', "column_B"])

In [ ]:
# Set column names to join on to index column for DataFrame join method
right_a_index = right_data.set_index(["column_A"])
right_a_index

In [ ]:
# Cross join
pd.merge(left_data, right_data, how="cross")

### <u>Exercise 4</u>

Import `3_Customer_member_invoice`, `3_Customer_normal_invoice`, and `3_Sales_invoice` file and do the coding to solve following question. <br>
- How many invoices do not have NaN data? (customer data and sales data included)
- Save as a csv file titled '`3_exercise_4_data`' including a tab delimiter.

In [ ]:
# the code for Exercise 4.1 is here

In [ ]:
# The code for Exercise 4.2 is here

---
---