# Exercise solution

In [ ]:
# To import modules, use these codes
import numpy as np
import pandas as pd

## <u>Exercise 1</u>

### <u>Exercise 1-1</u>

Import `1_Titanic_dataset_excel_1` file to this notebook and display the <b>first</b> 5 rows.
- The file is available in the same file as the notebook.
- Make `PassengerId` the DataFrame's index column name by using `index_col` parameter.

<b>DataFrame Desired</b>
<img src="./images/exercise1-1.png" alt="exercise1-1" width="900"/>

In [ ]:
# The code for Exercise 1-1 is here
data_1_1 = pd.read_excel("1_Titanic_dataset_excel_1.xlsx", index_col="PassengerId")
data_1_1.head()

### <u>Exercise 1-2</u>

Import `Titanic_sheet` (located in the `1_Titanic_dataset_excel_2` file) to this notebook. <br>
- The file is available in the data's folder. You have to use <b>relative path</b> as the parameter. 
- Make `PassengerId` the DataFrame's index column name by using `index_col` parameter.

In [ ]:
# The code Exercise 1-2 is here
data_1_2 = pd.read_excel("./data/1_Titanic_dataset_excel_2.xlsx", index_col="PassengerId", sheet_name="Titanic_sheet", header=3)
data_1_2.head()

---

## <u>Exercise 2</u>

The dataset which we use in this exercise is a supermarket sales dataset. <br><br>
Ref: https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales

Import `2_Supermarket_data` file and run codings to solve the following question.
1. Calculate the tax for each unit price. (Assuming all items have 7% tax)
2. Calculate the total price for each product. (Tax included)
3. Which store branch has the most total sales? (You can use `<DataFrame>.sum()` to sum in each column, if is possible.)

In [ ]:
# The code for Exercise 2.1 is here
data_2 = pd.read_csv("./Data/2_Supermarket_data.csv")
data_2["7%tax"] = data_2["Unit price"] * 0.07
data_2.head()

In [ ]:
# The code for Exercise 2.2 is here
data_2["Total"] = (data_2["Unit price"] + data_2["7%tax"])* data_2["Quantity"]
data_2.head()

In [ ]:
# The code for Exercise 2.3 is here
branch_a = data_2[data_2["Branch"] == "A"]["Total"].sum()
branch_b = data_2[data_2["Branch"] == "B"]["Total"].sum()
branch_c = data_2[data_2["Branch"] == "C"]["Total"].sum()

if (branch_a > branch_b) & (branch_a > branch_c):
    print("Branch A is the most total sales.")
elif (branch_b > branch_a) & (branch_b > branch_c):
    print("Branch B is the most total sales.")
else:
    print("Branch C is the most total sales.")

---

## <u>Exercise 3</u>

Import `1_Titanic_dataset_csv` file and do the codings to solve following question. <br>
- What is the average, max, and min values of `Fare` for each `Sex`?
- How many unique values of each `Pclass` are there? (sort by index labels)

In [ ]:
# The code for Exercise 3.1 is here
data_3 = pd.read_csv("./Data/1_Titanic_dataset_csv.csv", index_col="PassengerId")
data_3[["Sex", "Fare"]].groupby("Sex").agg([np.average, np.min, np.max])

In [ ]:
# The code for Exercise 3.2 is here
data_3["Pclass"].value_counts().sort_index()

---

## <u>Exercise 4</u>

Import `3_Customer_member_invoice`, `3_Customer_normal_invoice`, and `3_Sales_invoice` file and do the coding to solve following question. <br>
- How many invoices do not have NaN data? (customer data and sales data included)
- Save as a csv file titled '`3_exercise_4_data`' including a tab delimiter.

In [ ]:
# the code for Exercise 4.1 is here
data_4_cus_member = pd.read_csv("./data/3_Customer_member_invoice.csv")
data_4_cus_normal = pd.read_csv("./data/3_Customer_normal_invoice.csv")
data_4_sales = pd.read_excel("./data/3_Sales_invoice.xlsx")

data_4_cus_member.head()
# data_4_cus_normal.head()
# data_4_sales.head()

In [ ]:
data_4_customer = pd.concat([data_4_cus_member, data_4_cus_normal])
data_4_merge = pd.merge(data_4_customer, data_4_sales, on="Invoice ID")
data_4_merge

In [ ]:
print(f"{data_4_merge.shape[0]} row")

In [ ]:
# The code for Exercise 4.2 is here
data_4_merge.to_csv("./data/3_exercise_4_data.csv", sep="\t")

---

## <u>Exercise 5</u>

The dataset which we use in this exercise is a chronic kidney disease dataset. <br><br>
Ref: https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease

<u><b>Metadata</b></u>

<table>
    <tbody>
        <tr>
            <th><b>Variable</b></th>
            <th><b>Definition</b></th>
            <th><b>Remark</b></th>
        </tr>
        <tr>
            <td>age</td>
            <td>age</td>
            <td>numerical</td>
        </tr>
        <tr>
            <td>bp</td>
            <td>blood pressure</td>
            <td>numerical</td>
        </tr>
        <tr>
            <td>al</td>
            <td>albumin</td>
            <td>nominal (0,1,2,3,4,5)</td>
        </tr>
        <tr>
            <td>su</td>
            <td>sugar</td>
            <td>nominal (0,1,2,3,4,5)</td>
        </tr>
        <tr>
            <td>appet</td>
            <td>appetite</td>
            <td>nominal (0,1,2,3,4,5)</td>
        </tr>
        <tr>
            <td>pe</td>
            <td>pedal edema</td>
            <td>nominal (yes,no)</td>
        </tr>
        <tr>
            <td>ane</td>
            <td>anemia</td>
            <td>nominal (yes,no)</td>
        </tr>
        <tr>
            <td>class</td>
            <td>class</td>
            <td>nominal (ckd,notckd)</td>
        </tr>
    </tbody>
</table>

Import `7_Chronic_kidney_disease` file and do the codings to clean data, and clean it the best you can. <br>

<b>Check list</b>
- Outlier
- Incorrect datatype
- Missing data
- Duplicates
- Inaccurate data/ Invalid category
- Data Binning
- Data encoding

In [ ]:
# The code for Exercise 5 is here
# Load data
data_5 = pd.read_csv("./data/7_Chronic_kidney_disease.csv")
data_5

In [ ]:
# Check shape and dtype
display(data_5.shape)
data_5.info()

In [ ]:
# Check unique data of each column
for name in data_5.columns:
    unique_val = data_5[name].unique()
    print(f"{name}")
    print(f"{unique_val}")

In [ ]:
# Remove appet column because it is invalid category
data_5 = data_5.drop("appet", axis=1, errors="ignore")

In [ ]:
# Check value_counts of catergorical columns
cat_col = ["al", "su", "pe", "ane", "class"]
for name in cat_col:
    unique_val = data_5[name].value_counts()
    print(f"{name}")
    print(f"{unique_val} \n")

In [ ]:
# Change "?" to np.NaN
data_5 = data_5.replace("?", np.NaN)

# Change "0" to np.NaN in "ane" column
data_5["ane"] = data_5["ane"].replace("0", np.NaN)

In [ ]:
# Check duplicate index
data_5[data_5.duplicated()]

In [ ]:
# Remove duplicate index
data_5 = data_5.drop_duplicates(ignore_index=True)

In [ ]:
# Check results
display(data_5.shape)
data_5.info()

In [ ]:
# Fill np.NaN in ["age", "bp"](numerical) with median
data_5["age"] = data_5["age"].fillna(data_5["age"].median())
data_5["bp"] = data_5["bp"].fillna(data_5["bp"].median())

In [ ]:
# Use np.NaN in ["al", "su"](catergorical) as a new catergory
data_5["al"] = data_5["al"].fillna(-1)
data_5["su"] = data_5["su"].fillna(-1)

In [ ]:
# Remove np.NaN in ["pe", "ane", "class"](catergorical) because there are only a few of it.
nan_check = data_5[data_5[["pe", "ane", "class"]].isna().any(axis=1)]
display(nan_check)
data_5 = data_5[~data_5[["pe", "ane", "class"]].isna().any(axis=1)]

In [ ]:
# Change data type
data_5[["age", "bp"]] = data_5[["age", "bp"]].astype(int)
data_5[["al", "su", "pe", "ane", "class"]] = data_5[["al", "su", "pe", "ane", "class"]].astype("category")

In [ ]:
# Encoding data in ["pe", "ane", "class"](2 types category) 
data_5["pe"] = data_5["pe"].cat.codes.astype("category")
data_5["ane"] = data_5["ane"].cat.codes.astype("category")
data_5["class"] = data_5["class"].cat.codes.astype("category")

In [ ]:
# display data
data_5

In [ ]:
# Check results
display(data_5.shape)
display(data_5.info())

---
---