# Basic Python Lab 1
- Jupyter notebook
- Data type
- Arithmetic Operators
- Variables Assignments
- Assignment Operators

***
### Jupyter notebook
The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.
- Cell: Code and Markdown
- Comment #......

*----------Desirable----------*
- Shortcuts\
`Shift + Enter` : run the current cell, select below\
`Ctrl + Enter` : run selected cells\
`Alt + Enter` : run the current cell, insert below\
`Tab code` completion or indent\
`Shift + Tab` tooltip\
`Ctrl + Z` undo\
`Ctrl + Shift + Z` or `Ctrl + Y` redo
- Kernal / Runtime(Colab)
- Function `print(...)`

In [2]:
# Code cell
print(100)

100

##### Markdown cell
- VISTEC
- Bangkok
- Rayong

In [3]:
print(2)
print(4+5)

2
9

In [4]:
4+5

9

***
### Data Types
1. bool (boolean)\
Ex. True, False
2. int (integer number)\
Ex. 30, 0, 999, -20
3. float (approximation to a real number) [Desirable: https://docs.python.org/3/tutorial/floatingpoint.html] \
Ex. 1.23, 0.02, -92.34
4. str (string or text)\
Ex. "Hello", 'World'

Function `type(...)`

In [5]:
print(type(False))

<class 'bool'>

In [6]:
print(type(-29))

<class 'int'>

In [7]:
print(type(9.823423423))

<class 'float'>

In [8]:
# Floating point
print(5.0-0.1-0.1-0.1-0.1)

4.600000000000001

In [9]:
print(type("Hi"))

<class 'str'>

#### Test Yourself!
Type?
```python
2.1324
true
-0.0
123456
False
"Python"
```

In [12]:
print(type(2.1324))
# type(true)
print(type(-0.0))
print(type(123456))
print(type(False))
print(type("Python"))

<class 'float'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

***
### Arithmetic Operators

| Operator | Description | Expression | Result |
|----------||||
|+|addition|9 + 2|11|
|-|subtraction|9 - 2|7|
|*|multiplication|9 * 2|18|
|**|exponentiation|9 ** 2|81|
|/|division|9 / 2|4.5|
|//|integer division|9 // 2|4|
|%|modulo (remainder)|9 % 2|1|

### Arithmetic Operator Precedence
| Operator | Description |
|----------||
| () |parentheses|
| \** |exponentiation| 
| *, /, //, %|multiplication, division, integer division, modulo|
|+, -|addition, subtraction|

In [13]:
# addition
print(10+3)
print(type(10+3))

13
<class 'int'>

In [14]:
# subtraction
print(10-3.0)
print(type(10-3.0))

7.0
<class 'float'>

In [15]:
# multiplication
print(10*3.0)
print(type(10*3.0))

30.0
<class 'float'>

In [16]:
# Exponentiation
print(10**3)
print(type(10**3))

1000
<class 'int'>

In [17]:
# division
print(10/2)
print(type(10/2))

5.0
<class 'float'>

In [18]:
# integer division
print(10//3)
print(type(10//3))

3
<class 'int'>

In [19]:
# modulo
print(10%3)
print(type(10%3))

1
<class 'int'>

In [20]:
# Operator Precedence
print(10*2+1)

21

In [21]:
# Operator Precedence
print(10/2**2)

2.5

#### Test Yourself!
Answer and Type?
```python
30+1.0
30/3
40//2
40%3
3+True
4**5+2*(4+5)
```

In [24]:
# print and type of each:
print(30+1.0)
print(type(30+1.0))
print(30/3)
print(type(30/3))
print(40//2)
print(type(40//2))
print(40%3)
print(type(40%3))
print(3+True)
print(type(3+True))
print(4**5+2*(4+5))
print(type(4**5+2*(4+5)))

31.0
<class 'float'>
10.0
<class 'float'>
20
<class 'int'>
1
<class 'int'>
4
<class 'int'>
1042
<class 'int'>

***
### Variable Assignments

variable = expression

The names you use when creating these labels need to follow a few rules:
1. Names must start with a letter or _.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

#### Test Yourself!
Error or not?
```python
hi = 0
hi2 = hi
hi2 = hi4
0 = hi3
_hi = 0
___ = 0
3hi = 0
hi3 = 0
hi_world = 0
hi$ = 0
```

In [29]:
hi = 0
hi2 = hi
# hi2 = hi4
# 0 = hi3
_hi = 0
___ = 0
# 3hi = 0
hi3 = 0
hi_world = 0
# hi$ = 0

### Assignment Operators
| Operator | Example | Same As |
|----------|||
|=|x = 9|x = 9|
|+=|x += 9|x = x + 9|
|-=|x -= 9|x = x - 9|
|*=|x *= 9|x = x * 9|
|**=|x **= 9|x = x ** 9|
|/=|x /= 9|x = x / 9|
|/=|x //= 9|x = x // 9|
|%=|x %= 9|x = x % 9|

In [30]:
x = 10
print(x)

10

In [31]:
x += 9
print(x)

19

In [32]:
x %= 5
print(x)

4

In [33]:
x **= 2
print(x)

16

In [34]:
x = True
print(x)

True

In [35]:
x = 10
y = 20
print(x/y)

0.5

In [37]:
# Calculate BMI
weight = 71 #kg
height = 1.75 #meters
bmi = weight/height**2
print(bmi)

23.183673469387756

#### Test Yourself!
Answer?
```python
x = 20
y = 10

x += 2
y *= 2

x,y = ??

y //= x

x,y = ??
```

In [38]:
x = 20
y = 10

x += 2
y *= 2

print(x,y)

y //= x

print(x,y)

22 20
22 0