# Workshop 1 : Basic Python

### Why Python?
- Data volume
- Human error
- Repeted tasks

Python is a **programming language**
> A computer program stores data, and it does stuff with that data.
---


#### Day 1
- Part 1: Basic Data Type and Operator <br>
- Part 2: **Function and Method** <br>
- Part 3: **If-else and For Loop** and While Loop <br>
- Part 4: Coding with AI<br>
#### Day 2
- Part 4: **Data Structure** <br>
- Part 6: **Comprehension** <br>
- Part 7: Object-Oriented Programming Concept <br>

---
#### Practice !!!
- User-defined function
- If-else
- Loop

Writing a **Change Machine** program for supermarket<br>
Example<br>
Input: 1000<br>
Amount: 245<br>
Change: 755<br>
   -> Banknote 500 - 1<br>
   -> Banknote 100 - 2<br>
   -> Banknote 50 - 1<br>
   -> Coin 5 - 1<br>

---
---
### Part 5: Data structure: List, Tuple, Set, Dict


<img src=https://qph.fs.quoracdn.net/main-qimg-a4b9e6959aceb73fc326ad5df93867b5-lq width=600>

- data structure -> **sequence** of data types
- ordered -> can use indexing/ slicing
- changeable/ mutable -> can replace data store in the structure

#### Part 5.1: List and Tuple

- **list** `[] , list() , [1,2,3]`
- **tuple** `() , tuple(), (1,2,3)`

In [ ]:
list_a = [2,"two", True]
list_b = [1, 1, "one", "two", 2.0, list_a, "Hello World"]
print(list_b)

In [ ]:
tuple_a = (2,"two", True)
tuple_b = (1, 1, "one", "two", 2.0, list_a, "Hello World")
print(tuple_b)

In [ ]:
# sequence -> for loop -> loop over a sequence
for item in tuple_b:
    print(f"Type of {item} is {type(item)}")

In [ ]:
# ordered sequence -> indexing/slicing
print(list_b[0])
print(list_b[: 4])
print(tuple_b[-2])
print(tuple_b[1: 4])

In [ ]:
# changeable -> list

list_a = [2,"two"]
list_a[0] = 3
print(list_a)

In [ ]:
# not changeable -> tuple

tuple_a = (2,"two")
# tuple_a[0] = 3
print(tuple_a)

In [ ]:
# string?

str_a = 'hello'
print(str_a[1])
str_a[1] = 'a'
print(str_a)

In [ ]:
# List method and function
# help(list)
# Function
# 1. len()
# 2. sum(), min(), max()
# 3. sorted()
# Method
# 1. append(item)Â 
# 2. pop()
# 3. index(item)
# 4. reverse()
# 5. sort()

In [ ]:
list_a = [2,"two"]
list_a.append(3)
print(list_a)

##### > Let's try (3 min)
```python
old_list = [3, 5, 9, 2]
```
1. sort `old_list`<br>
expected result -> new_list = [2, 3, 5, 9]

2. create `new_sq_list` by sort squared number of `old_list`<br>
expected result -> new_sq_list = [4, 9, 25, 81]

In [ ]:
# Problem 1
'''
old_list = [3, 5, 9, 2]
new_list = ___
print(new_list)
'''

In [ ]:
# Problem 2
'''
new_sq_list = ___
for item in ___:
    new_sq_list.___(___)
print(new_sq_list)
'''

#### Part 5.2: Set and Dict

<img src=https://qph.fs.quoracdn.net/main-qimg-a4b9e6959aceb73fc326ad5df93867b5-lq width=600>

- **set** ` set(), {1,2,3}`
- **dict** (key-value pair)` {}, dict(), {1:'one', 2:'two'}`

In [ ]:
# Set
# unordered
numbers = {3, 2, 1, 4}
print(numbers)

In [ ]:
# Set
# duplicated member
letters = {'a', 'b', 'a', 'c', 'b'}
print(letters)
print('a' in letters)
print('d' in letters)

In [ ]:
# Set
# index
numbers = {3, 2, 1, 4}
print(numbers[0])

In [ ]:
# Set method and function
# help(set)
# Function
# 1. len()
# 2. sum(), min(), max()
# Method
#* 1. add(item), update([])
#* 2. pop()
# 3. union(set)
#* 4. intersection(set)

##### > Let's try (5 min)
Find unique number in 2D list
```python
arr = [[1,2,5,6],
       [10,7,5,7,9],
       [8,3,4,20,5],
       [9,1,2,6]]
```

In [ ]:
array = [[1,2,5,6],
        [10,7,5,7,9],
        [8,3,4,20,5],
        [9,1,2,6]]

In [ ]:
# Problem
'''
result = ___
___
print(result)
print(len(result))
'''

In [ ]:
# Dict
squares = {1: True, 2: 'four', 3: 9, 'four': 16}
print(f"squares dict = {squares}")

In [ ]:
data = [(1, 'one'), (2, 'two'), (3, 'three')]
names = dict(data)
print(names)

In [ ]:
# Using key: dict[key]
print(names[1])

# changeable
# Modify : dict[key] = new value
names[1] = 'à¸«à¸à¸¶à¹à¸'
print(names)

# Add : dict[new key] = value
names[4] = 'four'
print(names)

# Delete : del dict[key], dict.pop(key)
del names[4]
print(names)

In [ ]:
# Dict method
# help(dict)
#* 1. get(item, default)Â 
#* 2. keys()
#* 3. values()
#* 4. item()

In [ ]:
for i in names.items():
    print('key=',i[0],'val=',i[1])

In [ ]:
for k,v in names.items():
    print('key=',k,'val=',v)

##### > Let's try (5 min)
Sum value in dictionary
```python
d = {"a": 1, "b": 10, "c": 3}
```
expected result -> 14

In [ ]:
# Problem
'''
d = {"a": 1, "b": 10, "c": 3}
___
print(__)
'''

##### > Extra: Let's try
Encode Morse (https://edabit.com/challenge/5bYXQfpyoithnQisa) \
Create a program that takes a string as an argument and returns the Morse code equivalent.\
\
Examples
- "Help me !" -> "......-...--.--.-.-.--"
- "AI and DS" > ".-...--.-..-....."

Hint:
There is no " " (space bar) in dict using " " (space bar) instead of morse code

In [ ]:
char_to_dots = {
  'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
  'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
  'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
  'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
  'Y': '-.--', 'Z': '--..', '0': '-----',
  '1': '.----', '2': '..---', '3': '...--', '4': '....-', '5': '.....',
  '6': '-....', '7': '--...', '8': '---..', '9': '----.',
  '&': '.-...', "'": '.----.', '@': '.--.-.', ')': '-.--.-', '(': '-.--.',
  ':': '---...', ',': '--..--', '=': '-...-', '!': '-.-.--', '.': '.-.-.-',
  '-': '-....-', '+': '.-.-.', '"': '.-..-.', '?': '..--..', '/': '-..-.'
}

In [ ]:
char_to_dots['A']

In [ ]:
char_to_dots[' ']  # No space bar in keys

In [ ]:
char_to_dots.get(' ', '')

In [ ]:
txt1 = "Help me !"
txt2 = "AI and DS"

In [ ]:
# Problem
'''
def txt2morse(txt):
    morse = ''
    for char in ___:
        ___

txt2morse(txt1)
txt2morse(txt2)
'''

---
---
### Part 6: **Comprehension**

#### List Comprehension

**Equivalent `for` loop:**
```python
result = []
for item in collection:
    result.append(expression)
```
**Syntax:**
```python
result = [ expression for item in collection ]
```

In [ ]:
# for loop
cube = []
for n in range(11):
   cube.append(n**3)
    
print(cube)

In [ ]:
# List comprehension
cube = [n**3 for n in range(11)]

print(cube)

##### > Let's try (5 min)

Given a list of numbers, half numbers from the list:
```python
numbers = [3,5,45,97,32,22,10,19,39,43]
result = []
for number in numbers:
    result.append(number/2)
print(result)
```

In [ ]:
# Solution for loop
numbers = [3,5,45,97,32,22,10,19,39,43]
result = []
for number in numbers:
    result.append(number/2)
print(result)

In [ ]:
# Problem
'''
numbers = [3,5,45,97,32,22,10,19,39,43]
result = ___
print(result)
'''

In [ ]:
# ', '.join(str(i) for i in result)

#### If-else in List Comprehension

**Equivalent to**
```python
lista = []
for i in range(10):
    if i%2==0:
        lista.append(i**2)
    else:
        lista.append(i**3)
print(lista)
```

**Syntax:**
```python
result = [ expression for item in collection if condition]
result = [ expression1 if condition else expression2 for item in collection]
```

In [ ]:
words = ['apple','banana','orange','pear']
print(words)
[len(w) for w in words]

In [ ]:
[len(w) for w in words if 'p' in w]

In [ ]:
[len(w) if 'p' in w else w for w in words]

##### > Let's try (5 min)

Given a list of numbers
1. Remove odd numbers from the list:
2. Change odd numbers to zero:
```python
numbers = [3,5,45,97,32,22,10,19,39,43]
```

In [ ]:
# Solution 1 for loop
numbers = [3,5,45,97,32,22,10,19,39,43]
result = []
for number in numbers:
  if number % 2 == 0:
    result.append(number)
print(result)

In [ ]:
# Problem 1
'''
numbers = [3,5,45,97,32,22,10,19,39,43]
result = ___
print(result)
'''

In [ ]:
# Problem 2
'''
numbers = [3,5,45,97,32,22,10,19,39,43]
result = ___
print(result)
'''

#### Dictionary Comprehension

**Equivalent `for` loop:**
```python
result = {}
for item in collection:
    result[key_expression] = value_expression
```

**Syntax:**
```python
result = { key_expression:value_expression for item in collection }
```

In [ ]:
# For loop
cube_dict = {}
for n in range(11):
    cube_dict[n] = (n**3)
    
print(cube_dict)

In [ ]:
# Dict comprehension
cube_dict = {n:n**3 for n in range(11)}

print(cube_dict)

##### > Let's try (5 min)

Flipping key value pairs in dict\
```python
ori_dict = {1:'a', 2:'b', 3:'c', 4:'d'}\
result = {'a':1, 'b':2, 'c':3, 'd':4}
```

In [ ]:
# Problem
'''
ori_dict = {1:'a', 2:'b', 3:'c', 4:'d'}
result = { ___:___ for ______ in ori_dict.____ }
print(result)
'''

---
#### Practice !!!
- User-defined function
- If-else
- Loop/comprehension
- Data structure

1. Make a new_list of word without stopwords

In [ ]:
stopword = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll",
            "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's",
            'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs',
            'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am',
            'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does',
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of',
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before',
            'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
            'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any',
            'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
            'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should',
            "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
            "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven',
            "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
            'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't",
            'wouldn', "wouldn't"]
txt = "The Jupyter Notebook is an open-source web application that allows you to create and share documents \
that contain live code equations visualizations and narrative text Uses include data cleaning and transformation \
numerical simulation statistical modeling data visualization machine learning and much more"

In [ ]:
expected_result = ['jupyter', 'notebook', 'open-source', 'web', 'application', 'allows', 'create',
                   'share', 'documents', 'contain', 'live', 'code', 'equations', 'visualizations',
                   'narrative', 'text', 'uses', 'include', 'data', 'cleaning', 'transformation',
                   'numerical', 'simulation', 'statistical', 'modeling', 'data', 'visualization',
                   'machine', 'learning', 'much']

In [ ]:
# Problem

# print(len(new_list))
# print(new_list)

2. Make a dict of word: frequency/no. of words\
Example "Jupyter Notebook is a notebook"
```python
{'jupyter' : 0.33,
'notebook' : 0.67}
```

In [ ]:
# Problem
'''
new_dict = dict()
no_word = len(set(new_list))
print(no_word)
'''

# print(new_dict)

---
---
### Part 7: Object-Oriented Programming Concept

In python, everything is an object. Strings are objects, lists are objects, integers are objects, etc.
- `type(obj)` - Returns the object's type, which is essentially a synonym for class.
- `isinstance(obj, class_type)` - Returns `True` if `obj` is an instance of `class_type`. Otherwise, returns `False`.

In [ ]:
print(type('abc'))

In [ ]:
isinstance('abc', str)

In [ ]:
isinstance(123, int)

In [ ]:
isinstance(123, float)

Each car has different features and function abilities
- **Attributes** : specify the data of that class
- **Method** : specify the ability that class can prà¸duce

<img src='https://webcourses.ucf.edu/courses/1249560/files/64181432/download?verifier=GH3L7R124eDD6AGbwXwFC4OYrzGNNy4UsnarTveV&wrap=1' width=400>

**Syntax:**
```python
class ClassName:
    class_att1 = a
    class_att2 = b
    def __init__(self, x, y):
        self.instance_att1 = x
        self.instance_att2 = y
    def method(self):
        # do something
```

#### Attribute and Method

Fruit Smoothie (https://edabit.com/challenge/yuPWwSbCGPm2KzSzx) \
Create a class Smoothie and do the following:
- Create an instance attribute called ingredients.
- Create a `get_cost` method which calculates the total cost of the ingredients used to make the smoothie.

| Ingredient | Price |
| --- | --- |
| Strawberries | 1.50 |
| Banana | 0.50 |
| Mango | 2.50 |
| Blueberries | 1.00 |
| Raspberries | 1.00 |
| Apple | 1.75 |
| Pineapple | 3.50 |

Example

s1 = Smoothie(["Banana"])\
s1.ingredients â ["Banana"]\
s1.get_cost() â "0.50"

s2 = Smoothie(["Raspberries", "Strawberries", "Blueberries"])\
s2.ingredients â ["Raspberries", "Strawberries", "Blueberries"]\
s2.get_cost() â "3.50"

In [ ]:
in_price = {'Strawberries':1.50,
            'Banana':0.50,
            'Mango':2.50,
            'Blueberries':1.00,
            'Raspberries':1.00,
            'Apple':1.75,
            'Pineapple':3.50}

In [ ]:
class Smoothie():
    def __init__(self, ingred):
        self.ingredients = ingred
    def get_cost(self):
        return sum([in_price[f] for f in self.ingredients])

In [ ]:
s1 = Smoothie(["Banana"])
print('Ingredient:', s1.ingredients)
print('Cost:',s1.get_cost())

In [ ]:
s2 = Smoothie(["Raspberries", "Strawberries", "Blueberries"])
print('Ingredient:', s2.ingredients)
print('Cost:',s2.get_cost())

Create a class Smoothie and do the following:
- Create a `get_price` method which returns the number from `get_cost` plus the number from `get_cost` multiplied by 1.5. Round to two decimal places.
- Create a `get_name` method which gets the ingredients and puts them in alphabetical order into a nice descriptive sentence. If there are multiple ingredients, add the word "Fusion" to the end but otherwise, add "Smoothie". Remember to change "-berries" to "-berry". See the examples below.

Example

s1 = Smoothie(["Banana"])\
s1.ingredients â ["Banana"]\
s1.get_cost() â "0.50"\
s1.get_price() â "1.25"\
s1.get_name() â "Banana Smoothie"

s2 = Smoothie(["Raspberries", "Strawberries", "Blueberries"])\
s2.ingredients â ["Raspberries", "Strawberries", "Blueberries"]\
s2.get_cost() â "3.50"\
s2.get_price() â "8.75"\
s2.get_name() â "Blueberry Raspberry Strawberry Fusion"

In [ ]:
# Problem
class Smoothie():
    def __init__(self, ingred):
        self.ingredients = ingred
    def get_cost(self):
        return sum([in_price[f] for f in self.ingredients])
    def get_price(self):
        return ''
    def get_name(self):
        return ''

In [ ]:
s1 = Smoothie(["Banana"])
print('Ingredient:', s1.ingredients)
print('Cost:',s1.get_cost())
print('Price:',s1.get_price())
print('Name:',s1.get_name())

In [ ]:
s2 = Smoothie(["Raspberries", "Strawberries", "Blueberries"])
print('Ingredient:', s2.ingredients)
print('Cost:',s2.get_cost())
print('Price:',s2.get_price())
print('Name:',s2.get_name())

### Read Document

In [ ]:
import numpy as np
rng = np.random.rand(20)
print(rng)
print(type(rng))

In [ ]:
help(np.random.rand())
# https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html

In [ ]:
help(np.ndarray)
# https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html

In [ ]:
rng.size

In [ ]:
rng.clip(0.2,0.7)